#
# .gitignore
#

# ================================================================================
# OS X
# ================================================================================

.Spotlight-V100/
.Trashes/
Temporary Items/

._*
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.apdisk
Icon


# ================================================================================
# Linux
# ================================================================================

*~
.directory


# ================================================================================
# Windows
# ================================================================================

$RECYCLE.BIN/

*.lnk
Desktop.ini
Thumbs.db
ehthumbs.db


# ================================================================================
# Python
# ================================================================================

*.egg-info/
.eggs/
__pycache__/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/

*.egg
*.mo
*.pot
*.py[cod]
.Python
.coverage
pip-delete-this-directory.txt
pip-log.txt


# ================================================================================
# VS Code
# ================================================================================

.vscode/


# ================================================================================
# project
# ================================================================================

build/
